.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* поверх всего */
}

.closeWindow
{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease;
}

.closeButton:hover {
  color: #000;
}

.createGame {
  background-color: #fff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;
  text-align: center;
  position: relative;
}

.createGame__inputName {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.createGame__button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #2a9df4;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createGame__button:hover {
  background-color: #007ad6;
}

.createGame__message
{
  height: 15px;
  text-align: center;
  color: #922121;
  font-size: 14px;
}